@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

@theme {
  --animate-slide-top-to-bottom: slide-top-to-bottom 1s ease-in-out both;
  --font-be-vn: "Be Vietnam Pro", sans-serif;
  --font-lobster: "Lobster", cursive;

  @keyframes slide-top-to-bottom {
    0% {
      transform: translateY(-10px);
      opacity: 0;
    }
    ,
    100% {
      transform: translateY(100px);
      opacity: 1;
    }
  }
}

body {
  font-family: var(--font-be-vn);
}
